WcfAssignment1/CalculatorClient/Connected Services/CalculatorReference/FiveMethodService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="IsPrime">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="primeNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="IsPrimeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="IsPrimeResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SumOfDigits">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sumNumber" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SumOfDigitsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SumOfDigitsResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Reverse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sReverse" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReverseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ReverseResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HTMLTag">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="tag" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="txt" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="HTMLTagResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="HTMLTagResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SortNumbers">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="sortType" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="num1" type="xs:int" />
        <xs:element minOccurs="0" name="num2" type="xs:int" />
        <xs:element minOccurs="0" name="num3" type="xs:int" />
        <xs:element minOccurs="0" name="num4" type="xs:int" />
        <xs:element minOccurs="0" name="num5" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SortNumbersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SortNumbersResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>