WcfAssignment1/CalculatorClient/Connected Services/CalculatorReference/FiveMethodService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="FiveMethodService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:51007/FiveMethodService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:51007/FiveMethodService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFiveMethodService_IsPrime_InputMessage">
    <wsdl:part name="parameters" element="tns:IsPrime" />
  </wsdl:message>
  <wsdl:message name="IFiveMethodService_IsPrime_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsPrimeResponse" />
  </wsdl:message>
  <wsdl:message name="IFiveMethodService_SumOfDigits_InputMessage">
    <wsdl:part name="parameters" element="tns:SumOfDigits" />
  </wsdl:message>
  <wsdl:message name="IFiveMethodService_SumOfDigits_OutputMessage">
    <wsdl:part name="parameters" element="tns:SumOfDigitsResponse" />
  </wsdl:message>
  <wsdl:message name="IFiveMethodService_Reverse_InputMessage">
    <wsdl:part name="parameters" element="tns:Reverse" />
  </wsdl:message>
  <wsdl:message name="IFiveMethodService_Reverse_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReverseResponse" />
  </wsdl:message>
  <wsdl:message name="IFiveMethodService_HTMLTag_InputMessage">
    <wsdl:part name="parameters" element="tns:HTMLTag" />
  </wsdl:message>
  <wsdl:message name="IFiveMethodService_HTMLTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:HTMLTagResponse" />
  </wsdl:message>
  <wsdl:message name="IFiveMethodService_SortNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:SortNumbers" />
  </wsdl:message>
  <wsdl:message name="IFiveMethodService_SortNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:SortNumbersResponse" />
  </wsdl:message>
  <wsdl:portType name="IFiveMethodService">
    <wsdl:operation name="IsPrime">
      <wsdl:input wsaw:Action="http://tempuri.org/IFiveMethodService/IsPrime" message="tns:IFiveMethodService_IsPrime_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFiveMethodService/IsPrimeResponse" message="tns:IFiveMethodService_IsPrime_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SumOfDigits">
      <wsdl:input wsaw:Action="http://tempuri.org/IFiveMethodService/SumOfDigits" message="tns:IFiveMethodService_SumOfDigits_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFiveMethodService/SumOfDigitsResponse" message="tns:IFiveMethodService_SumOfDigits_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Reverse">
      <wsdl:input wsaw:Action="http://tempuri.org/IFiveMethodService/Reverse" message="tns:IFiveMethodService_Reverse_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFiveMethodService/ReverseResponse" message="tns:IFiveMethodService_Reverse_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="HTMLTag">
      <wsdl:input wsaw:Action="http://tempuri.org/IFiveMethodService/HTMLTag" message="tns:IFiveMethodService_HTMLTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFiveMethodService/HTMLTagResponse" message="tns:IFiveMethodService_HTMLTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SortNumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/IFiveMethodService/SortNumbers" message="tns:IFiveMethodService_SortNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IFiveMethodService/SortNumbersResponse" message="tns:IFiveMethodService_SortNumbers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IFiveMethodService" type="tns:IFiveMethodService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsPrime">
      <soap:operation soapAction="http://tempuri.org/IFiveMethodService/IsPrime" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SumOfDigits">
      <soap:operation soapAction="http://tempuri.org/IFiveMethodService/SumOfDigits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Reverse">
      <soap:operation soapAction="http://tempuri.org/IFiveMethodService/Reverse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="HTMLTag">
      <soap:operation soapAction="http://tempuri.org/IFiveMethodService/HTMLTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SortNumbers">
      <soap:operation soapAction="http://tempuri.org/IFiveMethodService/SortNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FiveMethodService">
    <wsdl:port name="BasicHttpBinding_IFiveMethodService" binding="tns:BasicHttpBinding_IFiveMethodService">
      <soap:address location="http://localhost:51007/FiveMethodService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>